<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <meta name="theme-color" content="#222">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/lib/font-awesome/css/all.min.css">
    <%if(page !== undefined){%>
        <title><%= page.title %></title>
        <meta name="description" content="<%= page.description %>"/>
    <%} else{%>
        <title><%= config.title %></title>
        <meta name="description" content="<%= config.description %>"/>
    <%}%>
    <link rel="stylesheet" href="<%= config.code_theme %>" media="none" onload="this.media='all'">
    <link rel="shortcut icon" href="<%- config.favicon %>">
    <%- config.extra_header_code %>
    <script id="hexo-configurations">
      var NexT = window.NexT || {};
      var CONFIG = {"hostname":"example.com","root":"/","scheme":"Pisces","version":"7.8.0","exturl":false,"sidebar":{"position":"left","display":"post","padding":18,"offset":12,"onmobile":false},"copycode":{"enable":false,"show_result":false,"style":null},"back2top":{"enable":true,"sidebar":false,"scrollpercent":false},"bookmark":{"enable":false,"color":"#222","save":"auto"},"fancybox":false,"mediumzoom":false,"lazyload":false,"pangu":false,"comments":{"style":"tabs","active":null,"storage":true,"lazyload":false,"nav":null},"algolia":{"hits":{"per_page":10},"labels":{"input_placeholder":"Search for Posts","hits_empty":"We didn't find any results for the search: ${query}","hits_stats":"${hits} results found in ${time} ms"}},"localsearch":{"enable":false,"trigger":"auto","top_n_per_article":1,"unescape":false,"preload":false},"motion":{"enable":true,"async":false,"transition":{"post_block":"fadeIn","post_header":"slideDownIn","post_body":"slideDownIn","coll_header":"slideLeftIn","sidebar":"slideUpIn"}}};
    </script>
    <script id="page-configurations">
      // https://hexo.io/docs/variables.html
      CONFIG.page = {
        sidebar: "",
        isHome : true,
        isPost : false,
        lang   : 'en'
      };
    </script>
    <noscript>
        <style>
            .use-motion .brand,
            .use-motion .menu-item,
            .sidebar-inner,
            .use-motion .post-block,
            .use-motion .pagination,
            .use-motion .comments,
            .use-motion .post-header,
            .use-motion .post-body,
            .use-motion .collection-header { opacity: initial; }

            .use-motion .site-title,
            .use-motion .site-subtitle {
                opacity: initial;
                top: initial;
            }

            .use-motion .logo-line-before i { left: initial; }
            .use-motion .logo-line-after i { right: initial; }
        </style>
    </noscript>
</head>

<body itemscope itemtype="http://schema.org/WebPage">
<div class="container use-motion">
    <div class="headband"></div>

    <header class="header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="header-inner"><div class="site-brand-container">
                <div class="site-nav-toggle">
                    <div class="toggle" aria-label="Toggle navigation bar">
                        <span class="toggle-line toggle-line-first"></span>
                        <span class="toggle-line toggle-line-middle"></span>
                        <span class="toggle-line toggle-line-last"></span>
                    </div>
                </div>
                <div class="site-meta">
                    <a href="/" class="brand" rel="start" data-pjax-state="" style="opacity: 1;display: block">
                        <span class="logo-line-before"><i></i></span>
                        <h1 class="site-title" style="opacity: 1; top: 0;"><%= config.site_name %></h1>
                        <span class="logo-line-after"><i></i></span>
                    </a>
                    <p class="site-subtitle" itemprop="description" style="opacity: 1; top: 0px;"><%= config.description %></p>
                </div>

                <div class="site-nav-right">
                    <div class="toggle popup-trigger">
                    </div>
                </div>
            </div>

            <nav class="site-nav">
                <ul id="menu" class="main-menu menu">
                    <li class="menu-item menu-item-home">
                        <a href="/" rel="section"><i class="fa fa-home fa-fw"></i>Home</a>
                    </li>
                    <li class="menu-item menu-item-about">
                        <a href="/page/about/" rel="section"><i class="fa fa-user fa-fw"></i>About</a>
                    </li>
                    <li class="menu-item menu-item-link">
                        <a href="/page/links/" rel="section"><i class="fa fa-link fa-fw"></i>Links</a>
                    </li>
                    <li class="menu-item menu-item-archives">
                        <a href="/archive/" rel="section"><i class="fa fa-archive fa-fw"></i>Archives</a>
                    </li>
                    <li class="menu-item menu-item-sitemap">
                        <a href="/sitemap.xml" rel="section"><i class="fa fa-sitemap fa-fw"></i>Sitemap</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="back-to-top">
        <i class="fa fa-arrow-up"></i>
        <span>0%</span>
    </div>

    <main class="main">
        <div class="main-inner">
            <div class="content-wrap">
