<div class="post-nav">
    <div class="post-nav-item">
        <a href="/page/<%= links.prev.link%>" rel="prev" title="<%= links.prev.title%>">
            <i class="fa fa-chevron-left"></i> <%= links.prev.title%>
        </a>
    </div>
    <div class="post-nav-item">
        <a href="/page/<%= links.next.link%>" rel="next" title="<%= links.next.title%>">
            <%= links.next.title%> <i class="fa fa-chevron-right"></i>
        </a>
    </div>
</div>